/* font-family: 'Playfair Display', serif; */
/* font-family: 'Ubuntu', sans-serif; */

*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Playfair Display', serif;
	color:#626262;
}

/* header start */

header{
	padding: 25px 0;
}

.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.logo{
	margin-top: 2px;
	width: 13%;
	float: left;
}
.logo img{
	width: 100%;
}

.menu{
	width: 70%;
	float: right;
}

.menu ul{
	float: right;
}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 50px;
	padding: 10px 0;
	transition: .3s;
	border: 1px solid transparent;
}

.menu ul li:last-child a{
	margin-right: 0;
}

.menu ul li a:hover{
	border-bottom: 1px solid #626262; 
}
/* header end */

/* banner start */
.b_img{
	width: 100%;
}
/* banner end */

/* perfect start */

.perfect{
	padding: 50px 0;
}

.container2{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.p_wrapper{

}
.c_p{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c_h1{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin-bottom: 40px;
	line-height: 25px;
}

/* perfect end */

/* blog start */ 
 
.blog{
	padding: 60px 0;
}
.single{
	width: 45%;
	float: left;
	margin-bottom: 50px;
}
.single:nth-child(even){
	margin-left: 10%;
}

.single img{
	width: 100%;
	margin-bottom: 20px;
}

.blog2{
	padding-top: 60px;
}

/* blog end */

/* newslatter start */

.news{
	padding: 70px 0;
	background-color: #f0f0f0;
}

.signup{
	color: #333333;
	text-align: center;
}

.s_h2{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px
}

.s_form{
	position: relative;
	width: 400px;
	margin: 0 auto;
}
.s_form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color:#626262;
	width: 400px;
	height: 35px;
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	padding-left: 5px;
	padding-right: 45px;
}

.s_form input:focus{
	outline: 0;
}

.s_form button{
	position: absolute;
	background: transparent;;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;


}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}

/* newslatter end */

/* load more start*/
.load{
	padding: 100px 0;
	text-align: center;
}
.load button{
	width: 160px;
	height: 60px;
	background-color: transparent;
	border: 1px solid #626262;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: #626262;
	cursor: pointer;
}

.load button:focus{
	outline: 0;
	transition: .3s;
	
}

.load button:hover{
	background-color: #dddd;
	transition: .3s;
	
}
/* load more end*/
/* footer start */

footer{
	background-color: #f0f0f0;
}

.terms{
	width: 60%;
}

.terms ul{
	text-decoration: none;

}

.terms ul li{
	padding: 20px;
	list-style: none;
	float: left;

}

.terms ul li a{
	text-decoration: none;
	font-weight: 600;
	color: #626262;
}

.social{
	width: 25%;
	float: right;

}
.social ul{
}

.social ul li{
	padding: 20px;
	list-style: none;
	float: left;
	font-weight: 600;
}

/* footer end */
